extends ./_layout.pug
block modules
	link(href='css/index.css' rel='stylesheet' type='text/css')
	script(src='js/index.js')
block main
	main.cont_main
		section.sec_visual
			h2.tit_visual 개발을 더 편하게 해보자
		artice#mArticle.cont_main
			h2.ir_pm 본문 영역
			p Hello <span style="color:gold">World</span>