<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>정진우의 테스트</title>
	<link href="css/index.css" rel="stylesheet" type="text/css">
	<script src="js/main.js"></script>
</head>
<body>
<div id="wrap">
	<header id="header">
		<h1>Gulpfile.js for SASS, ECMAScript 6</h1>
		<nav id="gnb">
			<ul class="list_gnb">
				<li><a class="link_gnb" href="sub/start.html">Getting Started</a>
				</li>
				<li><a class="link_gnb" href="javascript:;">Dependencies</a>
				</li>
				<li><a class="link_gnb" href="javascript:;">Further Updates</a>
				</li>
				<li><a class="link_gnb" href="javascript:;">Contact</a>
				</li>
			</ul>
		</nav>
	</header>
	<main class="cont_main">
		<section class="sec_visual">
			<h2 class="tit_visual"> 오늘은 목요일</h2>
		</section>
		<article class="main_article" id="mArticle">
			<h2 class="ir_pm">본문 영역</h2>
			<p class="desc_article">Start Gulp</p>
		</article>
	</main>
	<footer class="wrap_foot" id="footer">
		<h2 class="ir_pm">꼬리말 영역</h2>
		<p class="desc_copyright">Copyleft &copy; 정진우, email: doublejnu@gmail.com. Free to use under MIT license</p>
	</footer>
</div>
</body>
</html>