extends ./_layout.pug
block append modules
	link(href='css/index.css' rel='stylesheet' type='text/css')
	script(src='js/main.js')
block main
	main.cont_main
		section.sec_visual
			- var now = new Date().getDay();
			- var days = ['일','월', '화', '수', '목', '금', '토'];
			h2.tit_visual  오늘은 #{days[now]}요일
		article#mArticle.main_article
			h2.ir_pm 본문 영역
			p.desc_article Start Gulp